/*-------------
 	General
-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  height: 100vh;
}

.container {
  max-width: 1280px;
  margin: auto;
  font: normal 16px "Open Sans", sans-serif;
  color: #555;
  background-color: white;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 1;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 30px;
  background-color: #e3561b;
  padding: 15px 20px;
  text-align: center;
  line-height: 2em;
  margin: 20px 0;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #e3561b;
  border: 0;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 300%;
  font: light;
}

section{
  display:block;
}
/* ----------------------------------------- */

header {
  position: relative;
  z-index: 10;
  width: 100%;
  color: #e3561b;
  padding: 35px 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header .logo {
  position: absolute;
  top: 0;
  left: 10%;
  background: url("../img/logo.png") no-repeat;
  width: 180px;
  height: 100px;
  margin: 0;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

/*----------------
 	Hero Section
----------------*/

.hero {
  margin-top: 40px;
  position: relative;
  top: 20px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 4 0vh;
  align-items: center;
  color: black;
}

.hero .hero-text {
  margin-right: 10%;
  text-align: right;
  align-self: center;
  align-items: center;
  flex: 2;
}

.hero .hero-image {
  position: relative;
  z-index: 10;
  bottom: -56px;
  margin-left: 10%;
  flex: 1;
}

.red {
  color: #e3561b;
}

/*----------------
 	Our work Section
----------------*/
.our-work {
  background-color: rgba(227, 86, 27, 0.05);
  padding: 5% 20%;
  display: block;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.title {
  font-size: 200%;
  margin-bottom: 0;
  color: #e3561b;
}

/*----------------
 	Facilitators Section
----------------*/
.Facilitators {
  padding: 5% 20%;
  display: block;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.fac-pics {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}
.one fac {
  display: block;
}

/*----------------
 	prizes Section
----------------*/
.prizes {
  width: 100%;
  padding: 0;
  display: flex;
  margin-bottom: 5%;
  align-items: center;
}

.first {
  background-color: #e3561b;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  display: block;
  text-align: center;
  align-items: center;
  flex-basis: 55%;
  height: 454px;
  color: white;
}
.second {
  padding-right: 5%;
  padding-left: 5%;
  display: block;
  height: 357px;
  align-items: center;
  padding-top: 5%;
  text-align: center;
  background-color: rgba(227, 86, 27, 0.05);
  flex-basis: 45%;
}


.other-prizes{
  padding: 35px 100px;
}

.title{
  color: black;
}
/*----------------
footer
----------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

/*----------------
 utility classes
----------------*/

.blocked {
  display: block;
  margin-bottom: 30px;
}

.border-yellow {
  border: yellow 1px solid;
}

.border-red {
  border: red 1px solid;
}

.border-blue {
  border: blue 1px solid;
}
