/*-------------
 	General
-------------*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Arapey");
/*-------------
bootstrap reset
-------------*/
label{
  font-size: 85%;
}
.bg-primary {
  background-color: white !important;
}

.red {
  color: #e3561b;
}

.white {
  color: white;
}

.bggrey {
  background-color: rgba(173, 173, 173, 0.055);
}

.bggrey2 {
  background-color: #878787;
}

.bglightred {
  background-color: rgba(255, 213, 213, 0.37);
}

.text-left li{
  margin-bottom: 2%;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}
.thefac {
  justify-content: center;
}

.p10 {
  padding: 8%;
}
.p20 {
  padding: 16%;
}

.border-red {
  border: 1px red solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
}

body {
  background-color: #f3f3f3;
  font: normal 16px "Open Sans", sans-serif;
  height: 100vh;
  color: #555;
}

.container {
  margin: auto;
  font: normal 16px "Open Sans", sans-serif;
  color: #555;
  position: relative;
  background-color: white;
}

.stretch {
  height: 100vh;
}


.form-group {
  margin-right: 10%;
}


/* nav syling */

.navbar {
  background: #fff;
}

.navbar-light .navbar-nav .nav-link
{
color: #e3561b;
}

ul {
  list-style: none;
}

.logo {
  position: absolute;
  display: none;
  top: -23px;
  left: 5%;
  background: url("../img/logo.png") no-repeat;
  width: 132px;
  height: 90px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 1;
}

a:hover {
  opacity: 1;
  color: black;
  font: 500;
}

a.btn {
  color: #fff;
  border-radius: 30px;
  background-color: #e3561b;
  padding: 10px 20px;
  text-align: center;
  line-height: 2em;
  margin: 20px 0;
}

/* hr1 {
  width: 150px;
  height: 2px;
  background-color: #e3561b;
  border: 0;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
} */

.hrleft {
  width: 150px;
  height: 2px;
  background-color: #e3561b;
  border: 0;
  margin-bottom: 1%;
}

.hrleft1 {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: #e3561b;
  border: 0;
  margin-bottom: 2%;
}

.leftline {
  background-color: black;
}

/* landing page rows  */
.baner {
  padding-top: 15%;
  margin-bottom: -5%;
}

/*----------------
 	prizes Section
----------------*/
.prizes {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  align-items: center;
}

.first {
  background-color: #e3561b;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  display: block;
  text-align: center;
  align-items: center;
  height: 454px;
  color: white;
}
.first p {
  color: white;
}

.second {
  padding-right: 5%;
  padding-left: 5%;
  display: block;
  height: 357px;
  align-items: center;
  padding-top: 2%;
  text-align: center;
  background-color: rgba(255, 213, 213, 0.37);
}

.other-prizes ul {
  list-style: none;
}

.other-prizes ul li::before {
  content: "•";
  padding: 0.5% 20px;
  color: red;
}

.other-prizes p {
  text-align: left;
}

.workshop {
  list-style: none;
}

.workshop li::before {
  content: "•";
  padding: 0.5% 10px;
  color: red;
}

.title {
  font-family: "Arapey", serif;
  font-weight: lighter;
  margin-bottom: 0;
  color: #e3561b;
}

.title2 {
  font-family: "Arapey", serif;
  font-size: 200%;
  font-weight: lighter;
  margin-bottom: 0;
  color: #e3561b;
}
/*----------------
footer
----------------*/

.face2 {
  position: absolute;
  float: left;
  margin-top: -8%;
  z-index: 2;
  left: 0;
  bottom: 5%;
}

.face2 img {
  background-size: 75% 50%;
}

footer {
  display: flex;
  flex: start-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #555;
  padding: 60px 0;
  position: relative;
  z-index: 3;
}
.about{
width: 100%;

}
footer p {
  font-size: 14px;
  color: #fff;
  /* margin-bottom: 10px; */
}
/* ----------------------MEDIA QUERIES--------------------------------- */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
 

  .hero-image img{
    padding-top: 20%;
    width:90%;
    
  }
  .container {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .face2 {
    display: none;
  }
}

.form-control {
  position: relative;
  z-index: 1;
  width: 120%;
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom-color:#555;
  height: auto;
  padding: 3px 0 5px;
}
textarea.form-control {
  height: 100%;
}


.form-control :focus {
  outline:none;
  border-bottom:2px solid #5264AE; 
}